

        <!-- ==================================================
             SUPPORT

             รูป Support:
             APK โหลด support.png จาก GitHub โดยตรง
             ไม่ต้องกำหนด URL รูปใน XML

             ข้อความด้านล่างสามารถแก้จาก XML ได้
        =================================================== -->
        <support>

            <message>ติดต่อร้านนี้เพื่อปลดล็อกอีกครั้ง</message>

        </support>


        <!-- ==================================================
             DEVICE INFO

             0 = ซ่อนเมนู Device Info
             1 = แสดงเมนู Device Info

             ข้อมูลอ่านจากตัวกล่องโดยตรง
        =================================================== -->
        <device_info>1</device_info>


        <!-- ==================================================
             DELETE USER APPS

             0 = ไม่ลบ
             1 = ลบแอปที่ผู้ใช้ติดตั้ง

             ทำงานเฉพาะเมื่อ lock = 1 เท่านั้น
             ถ้า lock = 0 ห้ามทำคำสั่งนี้เด็ดขาด
        =================================================== -->
        <delete_apps>0</delete_apps>


    </locked>

</atv_launcher>
